In [13]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
brand = pd.read_csv('data/brand.csv')
brand

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,491966,10123C,HEARTS WRAPPING TAPE,1,2009-12-14 17:16:00,1.30,NaN,United Kingdom
1,491966,15036,ASSORTED COLOURS SILK FAN,5,2009-12-14 17:16:00,1.30,NaN,United Kingdom
2,491966,15044D,RED PAPER PARASOL,2,2009-12-14 17:16:00,6.04,NaN,United Kingdom
3,491966,15056BL,EDWARDIAN PARASOL BLACK,1,2009-12-14 17:16:00,13.00,NaN,United Kingdom
4,491966,15056N,EDWARDIAN PARASOL NATURAL,2,2009-12-14 17:16:00,13.00,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
39995,495591,22083,PAPER CHAIN KIT RETRO SPOT,80,2010-01-26 10:25:00,2.55,14646.0,Netherlands
39996,495591,20726,LUNCH BAG WOODLAND,200,2010-01-26 10:25:00,1.65,14646.0,Netherlands
39997,495591,40018F,CHERRY DESIGN PAPERLANTERNS,320,2010-01-26 10:25:00,1.95,14646.0,Netherlands
39998,495591,20723,STRAWBERRY CHARLOTTE BAG,100,2010-01-26 10:25:00,0.72,14646.0,Netherlands
39999,495591,20724,RED SPOTTY CHARLOTTE BAG,300,2010-01-26 10:25:00,0.72,14646.0,Netherlands

In [9]:
pivot_brand = pd.read_csv('data/pivot_brand.csv')
pivot_brand.fillna(0,inplace=True)

In [11]:
pivot_locations = pivot_brand.T
pivot_locations

,0,1,2,3,4,5,6,7,8,9,...,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Channel Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Cyprus,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Denmark,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EIRE,0.0,0.0,0.0,150.0,210.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,0.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Greece,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Italy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Japan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Netherlands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Spain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
USA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
United Kingdom,226.0,39.0,28.0,13.0,2.0,67.0,-20.0,117.0,5.0,363.0,...,-271.0,1.0,-5.0,25.0,2.0,1.0,4.0,8.0,1.0,2.0
Unspecified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Locations similarities

In [14]:
locations_similarities = cosine_similarity(pivot_locations)
locations_similarities_df = pd.DataFrame(locations_similarities, index = pivot_locations.index, columns = pivot_locations.index)
locations_similarities_df

,Australia,Austria,Belgium,Channel Islands,Cyprus,Denmark,EIRE,Finland,France,Germany,Greece,Italy,Japan,Netherlands,Spain,Sweden,Switzerland,USA,United Kingdom,Unspecified
Australia,1.000000,0.000000,0.079763,0.000000,0.000000,0.000188,0.091376,0.000000,0.033036,0.081227,0.016927,0.079235,0.000000,0.012662,0.064247,0.000000,0.000000,0.000000,0.063324,0.054759
Austria,0.000000,1.000000,0.020385,0.000000,0.000000,0.000192,0.001170,0.363243,0.136440,0.212962,0.000315,0.003314,0.000000,0.036127,0.260777,0.000058,0.286566,0.034911,0.036971,0.000000
Belgium,0.079763,0.020385,1.000000,0.001860,-0.003412,0.000446,0.114442,0.214534,0.229860,0.281416,0.015175,0.000000,0.000000,0.322331,0.057216,0.114438,0.095866,0.056691,0.171085,0.036689
Channel Islands,0.000000,0.000000,0.001860,1.000000,0.005386,0.177908,0.150151,0.012908,0.022191,0.000211,0.015791,0.000000,0.000000,0.043236,0.000000,0.208709,0.000000,0.007256,0.094774,0.006386
Cyprus,0.000000,0.000000,-0.003412,0.005386,1.000000,0.000000,0.026691,0.001211,0.002030,0.002711,0.015865,0.002773,0.000000,0.008529,0.016132,0.000000,0.007355,0.000202,0.037410,0.011580
Denmark,0.000188,0.000192,0.000446,0.177908,0.000000,1.000000,0.005891,0.000711,0.000456,0.000568,0.012618,0.000133,0.000000,0.000504,0.006714,0.000538,0.000346,0.005885,0.012811,0.000000
EIRE,0.091376,0.001170,0.114442,0.150151,0.026691,0.005891,1.000000,0.145100,0.262802,0.139073,0.051341,0.049543,0.000000,0.198381,0.093780,0.332530,0.055224,0.044070,0.347091,0.050827
Finland,0.000000,0.363243,0.214534,0.012908,0.001211,0.000711,0.145100,1.000000,0.189411,0.171621,0.000000,0.023679,0.000000,0.172977,0.194136,0.198091,0.098842,0.083158,0.180867,0.022729
France,0.033036,0.136440,0.229860,0.022191,0.002030,0.000456,0.262802,0.189411,1.000000,0.396736,0.048322,0.034594,0.056064,0.385308,0.229982,0.170382,0.293542,0.134668,0.332040,0.025905
Germany,0.081227,0.212962,0.281416,0.000211,0.002711,0.000568,0.139073,0.171621,0.396736,1.000000,0.057477,0.047026,0.214429,0.432692,0.174830,0.059171,0.225631,0.098441,0.216662,0.038153
Greece,0.016927,0.000315,0.015175,0.015791,0.015865,0.012618,0.051341,0.000000,0.048322,0.057477,1.000000,0.000000,0.000000,0.082786,0.041846,0.000000,0.025038,0.026214,0.177415,0.110112
Italy,0.079235,0.003314,0.000000,0.000000,0.002773,0.000133,0.049543,0.023679,0.034594,0.047026,0.000000,1.000000,0.000000,0.023774,0.038893,0.000000,0.000000,0.019868,0.027462,0.000000
Japan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.056064,0.214429,0.000000,0.000000,1.000000,0.051573,0.000000,0.000000,0.000000,0.000000,0.007779,0.000000
Netherlands,0.012662,0.036127,0.322331,0.043236,0.008529,0.000504,0.198381,0.172977,0.385308,0.432692,0.082786,0.023774,0.051573,1.000000,0.170145,0.181299,0.141555,0.126705,0.361360,0.118483
Spain,0.064247,0.260777,0.057216,0.000000,0.016132,0.006714,0.093780,0.194136,0.229982,0.174830,0.041846,0.038893,0.000000,0.170145,1.000000,0.000040,0.360372,0.093103,0.154492,0.015655
Sweden,0.000000,0.000058,0.114438,0.208709,0.000000,0.000538,0.332530,0.198091,0.170382,0.059171,0.000000,0.000000,0.000000,0.181299,0.000040,1.000000,0.000078,0.033122,0.269913,0.000000
Switzerland,0.000000,0.286566,0.095866,0.000000,0.007355,0.000346,0.055224,0.098842,0.293542,0.225631,0.025038,0.000000,0.000000,0.141555,0.360372,0.000078,1.000000,0.056075,0.107268,0.000000
USA,0.000000,0.034911,0.056691,0.007256,0.000202,0.005885,0.044070,0.083158,0.134668,0.098441,0.026214,0.019868,0.000000,0.126705,0.093103,0.033122,0.056075,1.000000,0.104407,0.000000
United Kingdom,0.063324,0.036971,0.171085,0.094774,0.037410,0.012811,0.347091,0.180867,0.332040,0.216662,0.177415,0.027462,0.007779,0.361360,0.154492,0.269913,0.107268,0.104407,1.000000,0.133866
Unspecified,0.054759,0.000000,0.036689,0.006386,0.011580,0.000000,0.050827,0.022729,0.025905,0.038153,0.110112,0.000000,0.000000,0.118483,0.015655,0.000000,0.000000,0.000000,0.133866,1.000000

In [15]:
country = "Australia"
similar_countries = locations_similarities_df.loc[country].sort_values(ascending=False)[1:]
similar_countries

EIRE               0.091376
Germany            0.081227
Belgium            0.079763
Italy              0.079235
Spain              0.064247
United Kingdom     0.063324
Unspecified        0.054759
France             0.033036
Greece             0.016927
Netherlands        0.012662
Denmark            0.000188
Finland            0.000000
Austria            0.000000
Japan              0.000000
Cyprus             0.000000
Sweden             0.000000
Switzerland        0.000000
USA                0.000000
Channel Islands    0.000000
Name: Australia, dtype: float64

# Products similarities

In [16]:
pivot_products = pivot_brand.copy()
pivot_products

,Australia,Austria,Belgium,Channel Islands,Cyprus,Denmark,EIRE,Finland,France,Germany,Greece,Italy,Japan,Netherlands,Spain,Sweden,Switzerland,USA,United Kingdom,Unspecified
0,0.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,226.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0.0
3,0.0,0.0,0.0,0.0,10.0,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,210.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
3140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
3141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0

In [18]:
products_similarities = cosine_similarity(pivot_products)
products_similarities_df = pd.DataFrame(products_similarities, index = pivot_products.index, columns = pivot_products.index)
products_similarities_df

,0,1,2,3,4,5,6,7,8,9,...,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142
0,1.000000,0.978181,0.978181,0.084273,0.009316,0.978181,-0.978181,0.978181,0.978181,0.978181,...,-0.978168,0.978181,-0.068028,0.978181,0.978181,0.978181,0.978181,0.978181,0.978181,0.978181
1,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,0.084273,0.086153,0.086153,1.000000,0.994851,0.086153,-0.086153,0.086153,0.086153,0.086153,...,-0.086152,0.086153,-0.006548,0.086153,0.086153,0.086153,0.086153,0.086153,0.086153,0.086153
4,0.009316,0.009523,0.009523,0.994851,1.000000,0.009523,-0.009523,0.009523,0.009523,0.009523,...,-0.009523,0.009523,-0.000724,0.009523,0.009523,0.009523,0.009523,0.009523,0.009523,0.009523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3139,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3140,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3141,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3142,0.978181,1.000000,1.000000,0.086153,0.009523,1.000000,-1.000000,1.000000,1.000000,1.000000,...,-0.999986,1.000000,-0.076002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Predict similarity based on description (text_based)

In [40]:
products = brand.groupby(['StockCode',"Description"])["Quantity"].sum().reset_index()
products.drop('Quantity',axis=1,inplace=True)

In [44]:
products

         StockCode                         Description
0            10002         INFLATABLE POLITICAL GLOBE
1           10002R               ROBOT PENCIL SHARPNER
2            10120                        DOGGY RUBBER
3           10123C               HEARTS WRAPPING TAPE
4            10125             MINI FUNKY DESIGN TAPES
...            ...                                 ...
3023  gift_0001_10  Dotcomgiftshop Gift Voucher £10.00
3024  gift_0001_20  Dotcomgiftshop Gift Voucher £20.00
3025  gift_0001_30  Dotcomgiftshop Gift Voucher £30.00
3026  gift_0001_50  Dotcomgiftshop Gift Voucher £50.00
3027  gift_0001_80  Dotcomgiftshop Gift Voucher £80.00

[3028 rows x 2 columns]

In [51]:
products['Description']

0              INFLATABLE POLITICAL GLOBE
1                    ROBOT PENCIL SHARPNER
2                             DOGGY RUBBER
3                    HEARTS WRAPPING TAPE
4                  MINI FUNKY DESIGN TAPES
                       ...
3023    Dotcomgiftshop Gift Voucher £10.00
3024    Dotcomgiftshop Gift Voucher £20.00
3025    Dotcomgiftshop Gift Voucher £30.00
3026    Dotcomgiftshop Gift Voucher £50.00
3027    Dotcomgiftshop Gift Voucher £80.00
Name: Description, Length: 3028, dtype: object

In [80]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Instantiate the vectorizer object to the vectorizer variable
vectorizer = TfidfVectorizer(min_df=2, max_df=0.7)

# Fit and transform the plot column
vectorized_data = vectorizer.fit_transform(products['Description'])

# Look at the features generated
print(vectorizer.get_feature_names_out() )

['00' '10' '12' ... 'you' 'yuletide' 'zinc']

In [81]:
tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns = vectorizer.get_feature_names_out())
tfidf_df.index =  products["StockCode"]
print(tfidf_df.head())

            00   10   12  120cm  15cm   16   20  200  20light   24  ...  \
StockCode                                                           ...
10002      0.0  0.0  0.0    0.0   0.0  0.0  0.0  0.0      0.0  0.0  ...
10002R     0.0  0.0  0.0    0.0   0.0  0.0  0.0  0.0      0.0  0.0  ...
10120      0.0  0.0  0.0    0.0   0.0  0.0  0.0  0.0      0.0  0.0  ...
10123C     0.0  0.0  0.0    0.0   0.0  0.0  0.0  0.0      0.0  0.0  ...
10125      0.0  0.0  0.0    0.0   0.0  0.0  0.0  0.0      0.0  0.0  ...

           woven  wrap  wrapping  wraps  wreath  writing  yellow  you  \
StockCode
10002        0.0   0.0  0.000000    0.0     0.0      0.0     0.0  0.0
10002R       0.0   0.0  0.000000    0.0     0.0      0.0     0.0  0.0
10120        0.0   0.0  0.000000    0.0     0.0      0.0     0.0  0.0
10123C       0.0   0.0  0.688781    0.0     0.0      0.0     0.0  0.0
10125        0.0   0.0  0.000000    0.0     0.0      0.0     0.0  0.0

           yuletide  zinc
StockCode
10002           0.0   0.0
10002R          0.0   0.0
10120           0.0   0.0
10123C          0.0   0.0
10125           0.0   0.0

[5 rows x 1100 columns]

In [82]:
similarities = cosine_similarity(tfidf_df)
cosine_similarity_df = pd.DataFrame(similarities, index =tfidf_df.index, columns=tfidf_df.index)
cosine_similarity_df

StockCode,10002,10002R,10120,10123C,10125,10133,10134,10135,10138,11001,...,M,PADS,POST,TEST001,TEST002,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_50,gift_0001_80
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
10002R,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
10120,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
10123C,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
10125,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.155114,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
gift_0001_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.805909,0.886997,0.786763,0.886997
gift_0001_20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.805909,1.000000,0.908582,0.805909,0.908582
gift_0001_30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.886997,0.908582,1.000000,0.886997,1.000000
gift_0001_50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.786763,0.805909,0.886997,1.000000,0.886997
gift_0001_80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.886997,0.908582,1.000000,0.886997,1.000000

In [96]:
stockcode = '10123C'
order = cosine_similarity_df.loc[stockcode].sort_values(ascending=False)
order

StockCode
10123C          1.000000
21879           0.612450
22046           0.457948
21882           0.389388
16254           0.369891
                  ...
21817           0.000000
21818           0.000000
21819           0.000000
21820           0.000000
gift_0001_80    0.000000
Name: 10123C, Length: 3028, dtype: float64

In [98]:
brand[brand["StockCode"] == '10123C']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,491966,10123C,HEARTS WRAPPING TAPE,1,2009-12-14 17:16:00,1.30,NaN,United Kingdom
7771,492484,10123C,HEARTS WRAPPING TAPE,1,2009-12-17 11:43:00,0.65,15862.0,United Kingdom
9452,492724,10123C,HEARTS WRAPPING TAPE,96,2009-12-18 10:59:00,0.53,14646.0,Netherlands
10216,492768,10123C,HEARTS WRAPPING TAPE,12,2009-12-18 15:06:00,0.65,12839.0,United Kingdom
27146,494495,10123C,HEARTS WRAPPING TAPE,2,2010-01-14 17:43:00,1.28,NaN,United Kingdom
27848,494625,10123C,HEARTS WRAPPING TAPE,1,2010-01-15 15:47:00,0.65,17851.0,United Kingdom
33608,495053,10123C,HEARTS WRAPPING TAPE,12,2010-01-20 14:36:00,0.65,17351.0,United Kingdom
36737,495343,10123C,HEARTS WRAPPING TAPE,1,2010-01-22 18:05:00,1.28,NaN,United Kingdom

In [97]:
brand[brand["StockCode"] == '21879']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
765,491969,21879,HEARTS GIFT TAPE,1,2009-12-14 17:57:00,1.70,NaN,United Kingdom
1770,491971,21879,HEARTS GIFT TAPE,1,2009-12-14 18:37:00,1.70,NaN,United Kingdom
10218,492768,21879,HEARTS GIFT TAPE,12,2009-12-18 15:06:00,0.65,12839.0,United Kingdom
13180,493079,21879,HEARTS GIFT TAPE,1,2009-12-22 09:52:00,1.70,NaN,United Kingdom
13563,493139,21879,HEARTS GIFT TAPE,12,2009-12-22 11:32:00,0.65,15311.0,United Kingdom
18868,493969,21879,HEARTS GIFT TAPE,4,2010-01-08 17:09:00,0.65,14031.0,United Kingdom
24393,494379,21879,HEARTS GIFT TAPE,1,2010-01-13 17:08:00,1.66,NaN,United Kingdom
26993,494495,21879,HEARTS GIFT TAPE,1,2010-01-14 17:43:00,1.66,NaN,United Kingdom
32301,494915,21879,HEARTS GIFT TAPE,12,2010-01-19 17:12:00,0.65,13564.0,United Kingdom
32990,494987,21879,HEARTS GIFT TAPE,12,2010-01-20 11:31:00,0.65,18223.0,United Kingdom
34303,495102,21879,HEARTS GIFT TAPE,12,2010-01-21 11:11:00,0.65,15547.0,United Kingdom
34469,495151,21879,HEARTS GIFT TAPE,4,2010-01-21 11:51:00,0.65,15910.0,United Kingdom
39107,495512,21879,HEARTS GIFT TAPE,12,2010-01-25 14:25:00,0.65,16700.0,United Kingdom